@model Web.Models.PlayerViewModel

@using (Html.BeginForm(null, null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="validation @(ViewData.ModelState.IsValid ? " " : "ui-state-error")">
        @Html.ValidationSummary(false)
    </div>

    @Html.LabelFor(x => x.FirstName)
    <br />
    @Html.TextBoxFor(x => x.FirstName)
    <br />
    @Html.LabelFor(x => x.LastName)
    <br />
    @Html.TextBoxFor(x => x.LastName)
    <br />
    @Html.LabelFor(x => x.DisplayName)
    <br />
    @Html.TextBoxFor(x => x.DisplayName)

    <input type="submit" value="Save" />
}
