@using Entities
@model Tournament

<div class="tournament-detail">
    @{
        var stageName = Model.TournamentType == TournamentType.League ? "Main" : Model.Stages.LastOrDefault() == null ? "" : Model.Stages.Last().Name;
    }

    Name : @Model.Name <br />
    Stage : @stageName <br />
    Status : @Model.Status.ToString() <br />
    Format : @Model.TournamentType.ToString() <br />

    @{
        var inTournament = false;
        if (User.Identity.IsAuthenticated)
        {
            inTournament = Model.Contestants.Any(x => x.Id == Framework.Session.Session.Current.Id);
        }
    }

    @{
        if (User.Identity.IsAuthenticated)
        {
            @Html.Raw("You are " + ((inTournament) ? "" : "not") + " registered.");
        }
    }
    
    @{
        if (Model.Status == TournamentStatus.Registration && User.Identity.IsAuthenticated)
        {
            if (!inTournament)
            {
                @Html.ActionLink("Register", "Register", new { tournamentId = Model.Id, contestantId = Framework.Session.Session.Current.Id })
            }
            else
            {
                @Html.ActionLink("Unregister", "Unregister", new { tournamentId = Model.Id, contestantId = Framework.Session.Session.Current.Id })
            }
        }

    }

    @Html.ActionLink("View standings", "Bracket", new { id = Model.Id })
</div>
