@using Entities
@model Tournament

<div class="tournament-detail">
    @{
        var stageName = Model.TournamentType == TournamentType.League ? "Main" : Model.Stages.LastOrDefault() == null ? "" : Model.Stages.Last().Name;
    }

    Name : @Model.Name <br />
    Stage : @stageName <br />
    Status : @Model.Status.ToString() <br />
    Format : @Model.TournamentType.ToString() <br />

    @{
        if (!User.Identity.IsAuthenticated)
        {
            @Html.Raw("</div>");
                               return;
        }
    }

    @{
        var currentUserId = Framework.Session.Session.Current.Id;
        var inTournament = Model.Contestants.Any(x => x.Id == currentUserId);
    }

    You are @((inTournament) ? "" : "not") registered.
    @{
        if (!inTournament)
        {
            @Html.ActionLink("Register", "Register", new { tournamentId = Model.Id, contestantId = currentUserId })
        }
        else
        {
            @Html.ActionLink("Unregister", "Unregister", new { tournamentId = Model.Id, contestantId = currentUserId })
        }
    }

    @Html.ActionLink("View standings", "Bracket", new { id = Model.Id })
</div>
