@using Entities
@model Tournament

<div class="update-tournament">
    @Html.ActionLink("Games", "EditGames", new { id = Model.Id })

    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.Name)
        <br />
        @Html.TextBoxFor(x => x.Name)
        <br />
        @Html.LabelFor(x => x.PointsForTie)
        <br />
        @Html.TextBoxFor(x => x.PointsForTie)
        <br />
        @Html.LabelFor(x => x.PointsForWin)
        <br />
        @Html.TextBoxFor(x => x.PointsForWin)
        <br />
        @Html.LabelFor(x => x.IsRanked)
        <br />
        @Html.CheckBoxFor(x => x.IsRanked)
        <br />
        @Html.LabelFor(x => x.IsTeamEvent)
        <br />
        @Html.CheckBoxFor(x => x.IsTeamEvent)
        <br />
        @Html.LabelFor(x => x.Status)
        <br />
        @Html.DropDownListFor(x => x.Status, new SelectList(Enum.GetValues(typeof(TournamentStatus))))
        <br />
        @Html.LabelFor(x => x.TournamentType)
        <br />
        @Html.DropDownListFor(x => x.TournamentType, new SelectList(Enum.GetValues(typeof(TournamentType))))

        <input type="submit" value="Save" />
    }
</div>