<!DOCTYPE html>
<html lang="en">
<head>
    <title>IBCS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/humanity/jquery-ui.structure.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/humanity/jquery-ui.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/humanity/jquery-ui.css" />
    @RenderSection("styles", false)

    <script type="text/javascript" src="~/Scripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <div class="logo">
                <div class="text">
                    @Html.ActionLink("Intelex Billiard Championship Series", "Index", "Home")
                </div>
            </div>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Tournaments", "Index", "Tournament")</li>
                <li><a href="#">A Page</a></li>
                <li><a href="#">Another Page</a></li>
                <li>@Html.ActionLink("Profile", "Profile", "Profile")</li>
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Logout", "LogOff", "Profile")
                    }
                    else
                    {
                        @Html.ActionLink("Logon", "Logon", "Profile")
                    }
                </li>
            </ul>
        </header>
        <div class="content">
            <div class="left">
                @RenderBody()
            </div>
            <div class="right">
                <div class="sidebar">
                    <div class="top">
                    </div>
                    <div class="item">
                    </div>
                    <div class="bottom">
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <footer>
            <p>
                <a href="#">Home</a> |
                <a href="#">Examples</a> |
                <a href="#">A Page</a> |
                <a href="#">Another Page</a> |
                <a href="#">Contact Us</a>
            </p>
        </footer>
    </div>
    <script type="text/javascript" src="~/Scripts/System/System.js"></script>

    @RenderSection("scripts", false)

    <script type="text/javascript">
        $(document).ready(function () {
            @RenderSection("onReady", false)
        });
    </script>
</body>
</html>
